<!-- features -->
<div class="content-block">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-xs-23">
            <div class="feature-icon"><img src="images/Manage.png" class="img-responsive feature-icon-img" alt="Manage appointments" /></div>
            <div class="feature-copy">
                <h3>Manage your appointments</h3>
                <p>Arrange your medical appointments around your schedule.</p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-1 col-xs-23">
            <div class="feature-icon"><img src="images/communicate.png" class="img-responsive feature-icon-img" alt="Communicate with your care team" /></div>
            <div class="feature-copy">
                <h3>Communicate with your care team</h3>
                <p>Secure messaging with the physician, nurses and office staff who know you and your needs.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-xs-23">
            <div class="feature-icon"><img src="images/Pay-Bills.png" class="img-responsive feature-icon-img" alt="Pay bills online" /></div>
            <div class="feature-copy">
                <h3>Pay your bills online</h3>
                <p>All of your INTEGRIS bills in one place, manageable and payable online.</p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-1 col-xs-23">
            <div class="feature-icon"><img src="images/View-Medical.png" class="img-responsive feature-icon-img" alt="Manage your medical information" /></div>
            <div class="feature-copy">
                <h3>Manage your medical information</h3>
                <p>Visit summaries and more available online, just a click away.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-xs-23">
            <div class="feature-icon"><img src="images/Find-Doctor.png" class="img-responsive feature-icon-img" alt="Find the doctor for you" /></div>
            <div class="feature-copy">
                <h3>Find the doctor for you</h3>
                <p>Find a doctor who isn't just the best, but the best for you.</p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-1 col-xs-23">
            <div class="feature-icon"><img src="images/Video-Chat.png" class="img-responsive feature-icon-img" alt="INTEGRIS Virtual Visit" /></div>
            <div class="feature-copy">
                <h3>INTEGRIS Virtual Visit</h3>
                <p>Video chat with a health care provider anytime on your computer or smartphone to get diagnosis, treatment and even prescriptions if needed.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-xs-23">
            <div class="feature-icon"><img src="images/IOYH-Icon.png" class="img-responsive feature-icon-img" alt="I On Your Health" /></div>
            <div class="feature-copy">
                <h3>I On Your Health</h3>
                <p>Receive weekly wellness updates.</p>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-1 col-xs-23">
            <div class="feature-icon"><img src="images/Perscription-Icon.png" class="img-responsive feature-icon-img" alt="INTEGRIS Pharmacy" /></div>
            <div class="feature-copy">
                <h3> INTEGRIS Pharmacy</h3>
                <p>Refill your INTEGRIS Pharmacy prescriptions online.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-xs-23">
            <div class="feature-icon"><img src="images/Video-Network.png" class="img-responsive feature-icon-img" alt="INTEGRIS Video Network" /></div>
            <div class="feature-copy">
                <h3>INTEGRIS Video Network</h3>
                <p>Watch over 1,000 doctor and patient videos.</p>
            </div>
        </div>
        <div class="col-sm-20 col-sm-offset-2 col-xs-20 col-xs-offset-2">
            <!-- learn more action button -->
            <div class="content-block-tight">
                <div class="row">
                    <div class="col-xs-24 text-center learn-more-action">
                        <a href="@Url.Action("Features","Home")" class="" role="button">Learn More About These Features</a>
                        <a href="@Url.Action("GetStarted","Home")" class="btn btn-default" role="button">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>