<div class="content-block">
    <div class="row">
        <div class="col-sm-20 col-sm-offset-2 col-xs-22 col-xs-offset-1 text-center">
            @*<div class="footer-copy">
                    <h1>Need Help?</h1>
                    <p>We’re committed to creating an experience that makes managing your care as convenient as possible. If you have any questions about INTEGRIS & Me, give us a call at any time at <strong>1.844.843.1500</strong></p>
                </div>*@
            <div class="footer-copy">
                <h1>Need Help?</h1>
                <p>
                    We’re committed to creating an experience that makes managing your care as convenient as possible. If you have any questions about INTEGRIS & Me, give us a call at any time at 1-844-843-1500.
                </p>
            </div>
        </div>
    </div>
</div>