
<div class="video-container">
    <video id="videoPlayer-2057439403142" width="100%" class="vdgm-default-skin video-js vjs-big-play-centered" preload="auto" poster="/Images/poster_overview_04.jpg">
        <source src="/Content/videos/integrisme1/in_151118_integrisandmebaby60_15_in_126_ZACK151623h.m3u8" type="application/x-mpegurl">
        <source src="/Content/videos/integrisme1/in_151118_integrisandmebaby60_15_in_126_ZACK151623h.mp4" type="video/mp4">
    </video>
</div>

<script>
    $(function () {
        var model = {};

        model.duration = '60';
        model.type = 'recorded';
        model.video = [
            { url: '/Content/videos/integrisme1/in_151118_integrisandmebaby60_15_in_126_ZACK151623h.m3u8' },
            { url: '/Content/videos/integrisme1/in_151118_integrisandmebaby60_15_in_126_ZACK151623h.mp4' }
        ];

        var vdgmPlayer = new $.VdgmVideoPlayer({ model: model });
    });
</script>