<div class="row">
    <div class="col-xs-24">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/Images/slide1.jpg" class="img-responsive" alt="Welcome to INTEGRIS & Me" />
                    <div class="marquee-copy-container no-icon">
                        <h1 class="">
                            @*<img src="images/clear.gif" width="40" height="40" class="img-responsive marquee-icon hidden-xs" alt="Welcome">*@
                            Welcome to INTEGRIS &amp; Me
                        </h1>
                        <p class="hidden-xs hidden-sm home-subhead">
                            INTEGRIS is proud to welcome you to a new era of truly personalized health care that’s all about you.
                        </p>
                        @*<strong><i>For you. For health. For life.</i></strong>*@
                        @*<p><a href="#" class="marquee-btn"><div class="btn btn-default" role="button">Learn More</div></a></p>*@
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/Images/slide2.jpg" class="img-responsive" alt="More control in your hands" />
                    <div class="marquee-copy-container">
                        <div class="hidden-sm hidden-xs">
                            <img src="/images/icon-chat.png" class="img-responsive marquee-icon hidden-xs" alt="chat">
                            <img src="/images/icon-calendar.png" class="img-responsive marquee-icon hidden-xs" alt="appointments">
                            <img src="/images/Pay-Bills.png" class="img-responsive marquee-icon hidden-xs" alt="bills">
                            <img src="/images/icon-docs.png" class="img-responsive marquee-icon hidden-xs" alt="medical records">
                        </div>
                        <h1 class="">                            
                            More control in your hands.
                        </h1>
                        <p class="hidden-xs hidden-sm home-subhead">
                            We’re putting more power, more information and more tools in your hands – and it’s all available online.
                        </p>
                        <p><a href="/Features" class="marquee-btn btn btn-default" >Learn More</a></p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/Images/slide3.jpg" class="img-responsive" alt="Find the right doctor for you" />
                    <div class="marquee-copy-container no-icon has-button">
                        <h1 class="marquee-headline">
                            New to INTEGRIS &amp; Me?
                        </h1>
                        <p class="hidden-xs hidden-sm home-subhead">
                            A new way to think about health care, and the way you manage it.
                        </p>
                        <p><a href="/NewUser" class="marquee-btn btn btn-default" >Learn More</a></p>
                    </div>
                </div>
                @*<div class="swiper-slide">
                    <img src="/Images/slide4.jpg" class="img-responsive" alt="Manage appointments" />
                    <div class="marquee-copy-container no-icon has-button">
                        <h1 class="">
                            Are you a MyINTEGRIS user?
                        </h1>
                        <p class="hidden-xs hidden-sm home-subhead">
                            You spoke, we listened. INTEGRIS & Me is our more intuitive, more powerful patient portal.
                        </p>
                        <p><a href="/ExistingUser" class="marquee-btn btn btn-default" >Learn More</a></p>
                    </div>
                </div>*@
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <!--
        <div class="marquee-copy-container">
            <h1 class="green">@ViewData["headline"]</h1>
            <p class="hidden-xs hidden-sm home-subhead">@ViewData["copy"]</p>
            <p><a href="@ViewData["btnUrl"]" class="marquee-btn"><div class="btn btn-default" role="button">@ViewData["btnLabel"]</div></a></p>
        </div>
        -->
    </div>
</div>