<!--checkboxes -->
<div class="content-block">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-xs-22 col-xs-offset-1 text-center">
            <div class="checkmark"><img src="images/secure.png" class="checkmark-img" alt="Secure" /></div>
            <div class="checkmark-copy"><h3>Secure</h3></div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-xs-22 col-xs-offset-1 text-center">
            <div class="checkmark"><img src="images/anytime.png" class="checkmark-img" alt="Anytime" /></div>
            <div class="checkmark-copy"><h3>Anytime</h3></div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-xs-22 col-xs-offset-1 text-center">
            <div class="checkmark"><img src="images/Compass.png" class="checkmark-img" alt="Anywhere" /></div>
            <div class="checkmark-copy"><h3>Anywhere</h3></div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 col-xs-22 col-xs-offset-1 text-center">
            <div class="checkmark"><img src="images/intuitive.png" class="checkmark-img" alt="Intuitive" /></div>
            <div class="checkmark-copy"><h3>Easy</h3></div>
        </div>
    </div>
</div>